html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.hidden {
    display: none;
}

#ar-btn {
    border: 4px solid #f8a862;
    color: #f8a862;
    background-color: rgba(0.0, 0.0, 0.0, 0.0);
    border-radius: 50px;
    font-size: 25px;
    position: absolute;
    z-index: 10;
    margin-top: 125px;
    margin-left: -50%;
    transform: translate(-50%);
    transition: all 0.3s;
}

#startIMG {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 50%;
    z-index: 2;
}

/*Interface*/

#interface{
    height: 230px;
    width: 90vw;
    background-color: rgba(255, 149, 0, 0.75);
    position: absolute;
    top: calc(100vh - 230px);
    z-index: 23 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#interface:xr-overlay {
    display: initial;
}

#headline{
    width: 100%;
    margin-top: 15px;
    font-size: 25px;
    font-family: headlineFont;
}

#temp{
    width: 45%;
    margin-top: -25px;
}

#tempHeadline{
    font-family: headlineFont;
}

#dist{
    width: 45%;
    margin-top: -25px;
}

#distHeadline{
    font-family: headlineFont;
}

#mass{
    width: 45%;
    margin-top: -25px;
}

#massHeadline{
    font-family: headlineFont;
}

#radi{
    width: 45%;
    margin-top: -25px;
}

#radiHeadline{
    font-family: headlineFont;
}

#trav{
    width: 45%;
    margin-top: -25px;
}

#travHeadline{
    font-family: headlineFont;
}

.headlineMargin{
    margin-bottom: -15px;
}